DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=root
DB_PASSWORD=elitebid
DB_NAME=elitebid
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true
DB_CREATE_DATABASE=true
DB_AUTO_INIT=true
API_PORT=3001
PORT=
EXPO_PUBLIC_API_URL=http://127.0.0.1:3001/api
EXPO_PUBLIC_WEB_API_URL=http://127.0.0.1:3001/api
EXPO_PUBLIC_MOBILE_API_URL=http://TU_IP_LAN:3001/api
APP_PUBLIC_URL=http://127.0.0.1:3001
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_TIMEOUT_MS=15000
MAIL_USER=sdnxdxd@gmail.com
MAIL_PASSWORD=diupaxqafoqdytcx
MAIL_FROM=EliteBid <sdnxdxd@gmail.com>
MAIL_VERIFICATION_SUBJECT=Tu codigo de verificacion EliteBid
RESEND_API_KEY=
RESEND_FROM=EliteBid <onboarding@resend.dev>
